.show-message {
    height: 100%;
    width: 100%;
    background-color: bisque;
    grid-row: 1/2;
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}