.message {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 15% 60%;
    height: 100%;
    width: 100%;
}
.message div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left !important;
    padding-left: 15px;
}
.message .message-content {
    text-align: left !important;
    padding-left: 15px;
}